.fancy1 {
	color:#DD0BF2;
	font-family: comic sans ms;
	font-size:2.5em;
	font-weight:bold;
}
.fancy2 {
	color: red;
	font-size: 1.6em;

}
.nice {
	font-family: helvetica;
	font-size:2em;

}
p {
	font-family: impact  verdana sans-serif;
	font-weight:bold;
	font-size:1.2em;

}
#container {
	border: solid 2px orange;
	height:auto;
	width: 450px;
	margin: 0 auto;
	background-color:black;
}
body {
	background-image:url("image.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}
h1 {
	font-family: comic sans ms;
	text-align: center;
}
